body {
    width: 100%;
}

/* Styled heading 1 */
h1 {
    font: bold 5em "Roboto Mono", monospace;
    text-shadow: .05em .05em .1em lightslategray;
}

/* Made the links look like buttons */
.nav-btn {
    background-color: #333;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
}

/* Changed the background color of the links when hovering over them */
.nav-btn:hover {
    background-color: #0d360d;
}

/* Added bottom border to navigation bar to clearly separate it from other content */
nav {
    border-bottom: 2px solid #333;
    margin-bottom: 30px;
}

/* Made list items display side by side with some spacing and removed bullet points */
li {
    list-style-type: none;
    padding: 10px;
    display: inline-block;
}

/* Styled heading 2 */
h2 {
    font-family: 'Inconsolata', monospace;
    color: #0d360d;
    text-shadow: .05em .05em .1em lightslategray;
}

/* Changed font of paragraph text */
p {
    font-family: 'Space Mono', monospace;
}

/* Adjusted width, margin, and padding of sections and added bottom border as dividers */
section {
    width: 50%;
    margin: auto auto 50px auto;
    padding: 20px;
    border-bottom: 2px solid #333;
}

/* Styled the images used  */
img {
    width: 70%;
    border: 1px solid #333;
    box-shadow: 2px 2px 5px grey;
}

/* Centered an assortment of elements */
h1, h2, nav, figure, footer {
    text-align: center;
}